<h1>Company Edit</h1>
<form>
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" type="text" ng-model="company.name"></input>
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" ng-model="company.description"></textarea>
	</div>

</form>

<button class="btn btn-success" ng-if="isNew==true" ng-click="saveNewItem()">Save new item</button>
<button class="btn btn-success" ng-if="isNew==false" ng-click="saveItem()">Save item</button>