<h1>User Accounts</h1>
<p class="lead">This is where we'll display the list of User Accounts</p>

<br><br>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Username</th>
			<th>Active</th>
			<th>Company</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="account in accounts">
			<td><a href="/administrator#/account/{{account._id}}">{{account.username}}</a></td>
			<td>
				<i class="fa fa-times" ng-if="account.active != true"></i>
				<i class="fa fa-check" ng-if="account.active == true"></i>
			</td>
			<td>{{account.company.name}}</td>
			<td><a class="pull-right btn btn-xs btn-default" href="#/account/{{company._id}}">Edit</a></td>
		</tr>
	</tbody>
</table>